a#arblpcs-save {
    display: block;
    padding-bottom: 8px;
}

a#arblpcs-save i {
    display: inline-block;
    height: 20px;
    width: 22px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAWBAAAFgQFJ4pWfAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFdQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAXD3nBAAAAB10Uk5TAAgQGSAjOD9AX2BnaH2GmJ6oq6y7wMXIytHY2+zeI/hiAAAAfklEQVQoz83PQRaCMBAE0UIjExTEoMwkyP3P6UIEgax91rL/qkF0GG3VOKiARHGBVcH5KKhnD4iSwAW4m9l1ARL2BoND/wX2F/Bs29sjB6eyLI9bKPr1876YgKarL3N11/ABXHWeqxwL7PsNpDwk1Od2USTKfvdRQDTZpqTCC0eKDUZxRNLFAAAAAElFTkSuQmCC') no-repeat;
    background-size: 20px 20px;
    vertical-align: middle;
}